## 선형회귀 (목적변수는 Sales)

### 1 (a). advertising1.csv와 advertising2.csv를 pd.read_csv를 통해서 load하여  advertising1, advertising2의 이름으로 할당하세요.

In [1]:
import pandas as pd

In [8]:
advertising1 = pd.read_csv('advertising/advertising1.csv')
advertising2 = pd.read_csv('advertising/advertising2.csv')

### 1.(b) 두 데이터를 advertising의 이름으로 병합하세요, 병합 시에 ignore_index 옵션을 활용하여, 0~199까지 되게 하세요.

In [19]:
advertising = pd.concat([advertising1, advertising2], ignore_index=True)
advertising

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

### 1.(c) advertising의 각 피처가 표준정규분포를 따르도록, 정규화를하세요.

### 1.(d) 학습데이터와 테스트데이터를 4:1로 나누세요

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(advertising['TV':'Newspaper'], advertising['Sales'],test_size=0.2,random_state=1234)

### 2.(a) 학습데이터를 통해 정규방정식를 통한 선형회귀를 수행하세요.

### 2.(b) 테스트 데이터 셋에 대해 mean_absolute_error와 mean_squared_error를 계산하세요.

### 2.(c) 학습데이터를 통해 경사하강법을 통한 선형회귀를 수행하세요.

### 2.(d) 테스트 데이터 셋에 대해 mean_absolute_error와 mean_squared_error를 계산하세요.

## 로지스틱 회귀 (survivied가 목적변수)

### 3.(a) train1.csv~train4.csv를 결합하세요.

### 3.(b) cabin 피처는 삭제, Age의 결측치는 다른 Age의 평균값으로 대체,  Embarked의 결측치는 S로 대체, 피처중에서 object 타입의 피처는 삭제하세요.

### 3. (c) Survived, Pclass, SibSP는 결측치를 갖는 데이터를 제거하고 Parch와 Fare 피처는 제거하세요.

### 4.(a) 학습 데이터와 테스트 데이터를 3:1로 나누세요.

### 4.(b) survived에 대해 로지스틱 회귀를 적용하세요.

### 4.(c) 테스트 데이터셋에 대해 예측 정확도를 계산하세요.

### 4.(d) 선형 모델의 계수들과 절편값을 확인하세요.

## 라쏘회귀 (당뇨데이터 활용, diabete)

### 5.(a) 당뇨 데이터를 데이터프레임 형태로 불러와서, 2:1로 학습데이터와 테스트 데이터로 나누세요.

### 5.(b) Standardscaler와 LassoCV를 pipeline 객체로 생성하세요. (LassoCV의 교차검증은 5회, alpha 값은 1이상 100 이하의 정수들로 하세요.)

### 6.(a) 당뇨데이터의 age,sex,bmi,bp 피처에 대해서만, pipeline 객체를 통해서 라쏘회귀를 진행하세요.

### 6.(b) 테스트 데이터 셋의 mean_absolute_error를 나타내세요.

### 6.(c) 결과로 얻은 선형모델 계수들과 절편의 값을 확인하세요.

### 6.(d) 가장 좋은 성능을 보이는 alpha값을 얻으세요.