## 선형회귀 (목적변수는 Sales)

### 1 (a). advertising1.csv와 advertising2.csv를 pd.read_csv를 통해서 load하여  advertising1, advertising2의 이름으로 할당하세요.

In [449]:
import pandas as pd

In [450]:
advertising1 = pd.read_csv('advertising/advertising1.csv')
advertising2 = pd.read_csv('advertising/advertising2.csv')

### 1.(b) 두 데이터를 advertising의 이름으로 병합하세요, 병합 시에 ignore_index 옵션을 활용하여, 0~199까지 되게 하세요.

In [451]:
advertising = pd.concat([advertising1, advertising2], ignore_index=True)
advertising

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

### 1.(c) advertising의 각 피처가 표준정규분포를 따르도록, 정규화를하세요.

In [452]:
from sklearn.preprocessing import StandardScaler
import numpy as np

# 표준 스케일링 (표준정규분포 따르도록)
scaler = StandardScaler()

sales = np.array(advertising.loc[:,"Sales"])
advertising = advertising.loc[:,["TV", "Radio", "Newspaper"]]

advertising = scaler.fit_transform(advertising)
advertising

/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([[ 9.69852266e-01,  9.81522472e-01,  1.77894547e+00],
       [-1.19737623e+00,  1.08280781e+00,  6.69578760e-01],
       [-1.51615499e+00,  1.52846331e+00,  1.78354865e+00],
       [ 5.20496822e-02,  1.21785493e+00,  1.28640506e+00],
       [ 3.94182198e-01, -8.41613655e-01,  1.28180188e+00],
       [-1.61540845e+00,  1.73103399e+00,  2.04592999e+00],
       [-1.04557682e+00,  6.43904671e-01, -3.24708413e-01],
       [-3.13436589e-01, -2.47406325e-01, -8.72486994e-01],
       [-1.61657614e+00, -1.42906863e+00, -1.36042422e+00],
       [ 6.16042873e-01, -1.39530685e+00, -4.30581584e-01],
       [-9.45155670e-01, -1.17923146e+00, -2.92486143e-01],
       [ 7.90028350e-01,  4.96973404e-02, -1.22232878e+00],
       [-1.43908760e+00,  7.99208859e-01,  1.62704048e+00],
       [-5.78501712e-01, -1.05768905e+00, -1.07502697e+00],
       [ 6.66253447e-01,  6.50657027e-01,  7.11007392e-01],
       [ 5.64664612e-01,  1.65000572e+00,  1.02862691e+00],
       [-9.25304978e-01,  9.00494200e-01,  3.84117072e+00],
       [ 1.56887609e+00,  1.10306488e+00,  1.16211917e+00],
       [-9.08957349e-01, -1.86635121e-01, -5.64073843e-01],
       [ 3.00679600e-03,  4.29449843e-02, -5.27248393e-01],
       [ 8.33232798e-01,  2.99534513e-01,  1.05164281e+00],
       [ 1.05509347e+00, -1.22649795e+00, -3.24708413e-01],
       [-1.56286250e+00, -4.97243498e-01,  8.76721921e-01],
       [ 9.48833887e-01, -4.29719938e-01, -2.00422516e-01],
       [-9.89527805e-01, -7.20071247e-01, -5.64073843e-01],
       [ 1.35285385e+00, -1.33453565e+00, -5.08835667e-01],
       [-4.83714657e-02,  4.07572210e-01, -8.26455181e-01],
       [ 1.08662104e+00, -4.43224650e-01, -3.52327501e-01],
       [ 1.18820988e+00,  2.59020377e-01, -3.52327501e-01],
       [-8.92609721e-01, -4.90491142e-01,  4.71641962e-01],
       [ 1.70316018e+00,  3.40048650e-01,  5.82118314e-01],
       [-3.98677796e-01, -3.95958157e-01,  3.70371972e-01],
       [-5.82004775e-01, -1.46958277e+00, -2.55016247e-02],
       [ 1.38438142e+00, -2.20396901e-01, -1.39264649e+00],
       [-5.99520091e-01, -1.47633512e+00, -1.06582061e+00],
       [ 1.67747105e+00, -1.29402151e+00, -1.01518562e+00],
       [ 1.39956136e+00,  1.38666383e+00, -1.17629696e+00],
       [-8.44734522e-01,  1.76479577e+00,  6.97197848e-01],
       [-1.21372386e+00,  2.32010953e-01,  2.09260624e-01],
       [ 9.45330823e-01,  9.74770116e-01,  6.65620024e-02],
       [ 6.47570443e-01, -6.50927121e-02,  4.81492770e-02],
       [ 3.49810063e-01,  6.84418807e-01,  3.74975153e-01],
       [ 1.71133400e+00,  2.99534513e-01, -1.32359877e+00],
       [ 6.98948705e-01, -1.00367020e+00, -1.91216154e-01],
       [-1.42390765e+00,  1.64487393e-01,  5.86721496e-01],
       [ 3.27623995e-01, -5.15880000e-02,  4.35460956e-02],
       [-6.69581357e-01, -9.02384859e-01,  2.36879713e-01],
       [ 1.08428567e+00,  1.23135965e+00, -5.54867481e-01],
       [ 9.35989321e-01, -5.03995854e-01,  8.90531465e-01],
       [-9.35814168e-01, -7.80842451e-01,  2.87514708e-01],
       [ 6.16042873e-01, -1.36154507e+00,  1.86244718e-01],
       [-5.44638766e-01, -9.22641928e-01, -1.24074150e+00],
       [ 8.09879042e-01,  1.24486436e+00,  4.16403786e-01],
       [ 4.15200577e-01,  1.54872038e+00,  1.29561142e+00],
       [ 1.35051848e+00,  3.73810430e-01, -6.74550196e-01],
       [ 6.05533683e-01,  1.76479577e+00,  1.35545278e+00],
       [-1.63175608e+00,  3.26543937e-01,  4.99261050e-01],
       [-1.26606546e-01, -2.74415749e-01, -6.42327927e-01],
       [ 7.44488528e-01,  1.77830048e+00,  3.28943340e-01],
       [ 7.43320840e-01,  4.21076922e-01, -9.78360166e-01],
       [-1.09228433e+00, -1.43582099e+00, -4.21375221e-01],
       [ 1.33417085e+00,  1.31238792e+00,  1.11148417e+00],
       [ 1.07727954e+00, -5.24252922e-01, -1.49787521e-01],
       [-5.17781948e-01,  4.27829278e-01, -1.01978880e+00],
       [-1.86158622e-01,  1.31914027e+00, -7.61366196e-02],
       [-9.11292725e-01, -9.42898996e-01, -1.36502740e+00],
       [-1.34917564e+00,  9.02114765e-02, -1.30518604e+00],
       [-9.04082253e-02, -5.91776482e-01, -9.36931533e-01],
       [ 1.05509347e+00,  2.86029801e-01, -9.00106083e-01],
       [ 8.14549794e-01,  1.39341619e+00, -1.54390703e-01],
       [ 6.07869059e-01,  4.95352838e-01,  3.74975153e-01],
       [-4.34876116e-01, -6.05281194e-01,  5.27524584e-02],
       [-1.40405696e+00,  6.57409383e-01, -5.18042030e-01],
       [-2.06009314e-01, -1.18598381e+00,  3.43397329e-02],
       [ 7.74848409e-01,  9.02114765e-02, -8.03439274e-01],
       [-1.51965805e+00,  1.37991148e+00,  2.70878810e+00],
       [-1.39588315e+00, -1.46283041e+00, -4.53597491e-01],
       [-3.09933525e-01,  3.53553362e-01, -7.52804279e-01],
       [-1.65394214e+00,  4.48086346e-01, -9.73756984e-01],
       [-3.62479475e-01, -1.05093669e+00, -3.43121138e-01],
       [-8.24883830e-01,  2.32010953e-01, -3.79946589e-01],
       [ 1.08311798e+00, -1.29402151e+00,  2.92117889e-01],
       [-8.37728396e-01, -2.00139833e-01,  8.95779092e-02],
       [-9.18298852e-01,  1.43393033e+00,  2.32276531e-01],
       [ 7.76016097e-01,  1.33264499e+00,  1.49419267e-01],
       [ 5.38975481e-01, -3.28434597e-01,  1.61783412e+00],
       [-8.26051518e-01,  2.86029801e-01, -6.69947015e-01],
       [-4.24366926e-01,  1.17058844e+00,  1.50275459e+00],
       [-6.85928986e-01,  1.50982681e-01,  1.97227908e+00],
       [-4.34876116e-01,  1.65675807e+00,  9.59579186e-01],
       [-1.48792614e-01, -1.24000266e+00, -9.78360166e-01],
       [-1.38303858e+00, -1.46958277e+00,  1.12593816e-01],
       [ 8.25058983e-01,  6.91171163e-01,  1.30942097e+00],
       [ 1.21273132e+00,  8.93741844e-01,  1.92164409e+00],
       [-4.62900623e-01, -6.25538262e-01, -9.04709264e-01],
       [ 1.89836839e-01,  5.62876398e-01,  1.02862691e+00],
       [ 5.90353742e-01, -1.33453565e+00, -1.13486833e+00],
       [ 4.42057396e-01, -1.52873340e-01, -3.93756133e-01],
       [ 1.66579418e+00,  1.28537849e+00,  9.50372823e-01],
       [-1.38283424e-01,  1.24486436e+00,  7.06404211e-01],
       [ 8.79940308e-01, -1.28051680e+00,  8.85928284e-01],
       [ 1.74402926e+00,  8.80237132e-01,  3.23815396e+00],
       [ 1.55486384e+00, -8.88880147e-01, -4.21375221e-01],
       [ 4.77088029e-01, -4.09462869e-01, -5.82486569e-01],
       [ 1.06443498e+00,  7.45190011e-01, -1.16248742e+00],
       [-1.06755854e-01,  1.56222509e+00,  1.30942097e+00],
       [-1.42507534e+00, -8.28108943e-01, -3.93111688e-02],
       [-6.61407543e-01, -1.55061104e+00, -3.38517957e-01],
       [-1.56403019e+00, -1.54385868e+00, -2.28041604e-01],
       [ 1.26527727e+00,  2.45515665e-01, -1.15328106e+00],
       [ 9.19641692e-01, -1.01717491e+00,  1.19434143e+00],
       [ 1.10530405e+00,  9.95027184e-01, -3.38517957e-01],
       [ 3.34630122e-01, -5.31005278e-01, -1.29597968e+00],
       [ 7.30476274e-01, -1.79882765e-01, -9.13915627e-01],
       [-8.03865450e-01,  1.58923451e+00,  1.81641536e-01],
       [-8.40063771e-01,  7.92456503e-01,  1.01942054e+00],
       [-9.15759131e-02, -6.05281194e-01, -2.28041604e-01],
       [-8.24883830e-01, -1.51684926e+00, -7.25185191e-01],
       [-2.49213762e-01,  9.20751268e-01,  2.23926360e+00],
       [-1.49046586e+00, -4.90491142e-01, -3.79946589e-01],
       [-6.70544700e-02,  2.38763309e-01,  7.20213755e-01],
       [-1.49747198e+00, -1.05606848e-01,  9.13547372e-01],
       [ 8.98623313e-01, -1.40881156e+00, -6.88359740e-01],
       [-2.79573643e-01,  7.65447079e-01, -8.35661544e-01],
       [ 9.62846140e-01,  6.10142891e-01,  2.00910454e+00],
       [-6.98773552e-01, -7.74090095e-01, -2.14232060e-01],
       [-1.62591764e+00,  1.05579839e+00,  9.22753735e-01],
       [-7.80511695e-01, -1.57086811e+00, -9.82963347e-01],
       [ 8.55418865e-01,  1.73778635e+00, -1.25915423e+00],
       [-1.02105537e+00, -7.60585383e-01,  5.77515133e-01],
       [-1.70882347e+00,  1.10306488e+00, -1.00597925e+00],
       [ 1.37971067e+00, -1.37504978e+00,  5.72911952e-01],
       [-1.61891151e+00,  2.65772733e-01, -1.30978922e+00],
       [ 8.49580427e-01,  6.91171163e-01,  6.69578760e-01],
       [-1.28612050e+00,  1.03554132e+00,  1.61323094e+00],
       [-1.15300409e+00,  1.60273923e+00, -1.01518562e+00],
       [-1.41806922e+00,  1.06255074e+00, -9.78360166e-01],
       [ 1.47896413e+00,  3.80562786e-01,  1.34164324e+00],
       [-1.21489154e+00,  1.77992105e-01, -4.62803854e-01],
       [ 4.42057396e-01,  1.39341619e+00, -1.32820195e+00],
       [-8.59914463e-01, -4.22967582e-01, -8.12645637e-01],
       [ 5.44813920e-01,  8.19465927e-01,  2.07354907e+00],
       [ 8.57754241e-01,  6.70914095e-01,  3.38149702e-01],
       [-4.95595880e-01, -1.18598381e+00,  1.77038355e-01],
       [-5.93681653e-01, -5.71519414e-01,  3.84181516e-01],
       [-7.87313476e-02, -1.44257334e+00, -9.92169710e-01],
       [ 1.08662104e+00, -1.07794612e+00, -1.00597925e+00],
       [ 1.12281936e+00,  1.73778635e+00,  6.32753309e-01],
       [-1.27327593e+00,  1.15033137e+00, -8.58677450e-01],
       [-1.19504085e+00,  1.71239749e-01, -4.58200672e-01],
       [ 1.56070228e+00, -6.32290618e-01,  2.96721070e-01],
       [-3.04095087e-01, -1.00367020e+00,  8.35293289e-01],
       [ 5.90353742e-01,  2.43084817e-03, -7.52804279e-01],
       [ 2.83251860e-01,  1.10981724e+00,  3.28943340e-01],
       [ 4.75920341e-01, -1.46120984e-01, -9.69153803e-01],
       [-1.66912209e+00, -7.87594807e-01, -1.14407469e+00],
       [-6.20538471e-01,  1.36640677e+00,  9.18150553e-01],
       [ 3.21989902e-02, -1.48308748e+00, -2.87882962e-01],
       [-1.58037782e+00,  9.20751268e-01,  6.74181942e-01],
       [-1.79152496e-01, -3.28434597e-01,  1.86244718e-01],
       [ 2.97264113e-01, -3.48691665e-01,  6.72064478e-03],
       [-7.16288868e-01,  8.46475352e-01,  8.62912377e-01],
       [ 4.82926468e-01, -3.48691665e-01, -2.28041604e-01],
       [ 1.92172214e-01,  9.13998912e-01, -1.06582061e+00],
       [-3.48467222e-01, -5.78271770e-01, -1.15788424e+00],
       [ 1.02123053e+00, -1.34128800e+00,  2.49704176e+00],
       [-1.50798117e+00,  9.68017760e-01, -4.12168859e-01],
       [ 6.97781017e-01, -1.21974559e+00, -5.13438849e-01],
       [ 7.98202165e-01,  2.26879163e-02,  1.24497643e+00],
       [ 1.60273904e+00, -8.55118367e-01, -1.11185242e+00],
       [-1.13315340e+00, -7.87594807e-01, -5.59470662e-01],
       [ 2.03849092e-01, -1.59625696e-01,  7.75451931e-01],
       [-1.48813048e+00, -2.13644545e-01, -6.23915201e-01],
       [ 2.49388915e-01, -1.09145083e+00, -8.17248818e-01],
       [ 8.79940308e-01, -1.34128800e+00, -8.03439274e-01],
       [ 1.51633014e+00,  1.73103399e+00,  5.17673775e-01],
       [ 1.18353913e+00,  4.68343414e-01, -4.72010216e-01],
       [ 2.70407294e-01, -1.04418434e+00,  2.13863806e-01],
       [ 1.51399477e+00, -1.41556392e+00, -3.15502050e-01],
       [ 2.16693657e-01, -8.95632503e-01, -5.96296113e-01],
       [ 1.11601758e-01, -1.39530685e+00, -1.02439198e+00],
       [ 8.34400486e-01, -1.20624088e+00, -1.45184340e-01],
       [-1.06075676e+00, -1.18598381e+00, -3.93111688e-02],
       [ 1.64127273e+00,  1.33264499e+00,  1.89862818e+00],
       [ 1.24659427e+00, -1.32616272e-01, -2.55016247e-02],
       [ 6.76762637e-01,  1.47444446e+00, -5.04232486e-01],
       [-8.80728498e-02, -1.42906863e+00, -1.82009791e-01],
       [ 5.14454038e-01,  3.67058074e-01, -5.68677025e-01],
       [ 1.62258973e+00, -6.32290618e-01, -1.23613832e+00],
       [-1.49863967e+00, -7.53833027e-01, -3.29311594e-01],
       [-1.25576062e+00,  1.20435022e+00, -1.13947151e+00],
       [-8.35393020e-01, -8.41613655e-01, -1.13026515e+00],
       [-1.51615499e+00, -1.29402151e+00,  4.81492770e-02],
       [ 2.30705910e-01,  1.26512143e+00, -1.24074150e+00],
       [ 3.10313024e-02,  8.32970639e-01, -1.13026515e+00],
       [-1.27094056e+00, -1.32103093e+00, -7.71217005e-01],
       [-6.17035408e-01, -1.24000266e+00, -1.03359834e+00],
       [ 3.49810063e-01, -9.42898996e-01, -1.11185242e+00],
       [ 1.59456522e+00,  1.26512143e+00,  1.64085003e+00],
       [ 9.93206022e-01, -9.90165488e-01, -1.00597925e+00]])

### 1.(d) 학습데이터와 테스트데이터를 4:1로 나누세요

In [453]:
from sklearn.model_selection import train_test_split
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(advertising, sales,test_size=0.2,random_state=1234)
y_train.shape

(160,)

### 2.(a) 학습데이터를 통해 정규방정식를 통한 선형회귀를 수행하세요.

In [454]:
n_train, n_test = X_train.shape[0], X_test.shape[0]

X_train = np.append(np.ones((n_train, 1)), X_train, axis=1)
w = np.linalg.inv(X_train.T @ X_train) @ X_train.T @ y_train     

y_pred_train = X_train @ w
y_pred_train

array([18.66276778, 10.34126748, 17.02664714, 16.53536081, 12.4448438 ,
       21.15644462, 19.57058564, 10.92073978, 14.73445112, 17.55464266,
       24.36509075, 18.93682852,  9.99557176,  7.96016874, 17.08331696,
       14.27483165, 16.13836967, 21.26621204, 18.17506307, 19.66636447,
       17.07481581,  8.9629038 , 17.31511818,  9.73770068,  8.81449982,
       23.57297916, 12.08349484,  6.59841865, 19.70811591, 21.82033987,
       18.26502449,  8.5192422 , 16.55604477, 21.1090306 , 13.12045908,
       23.61947622, 13.88427134, 23.79324685, 20.90793983, 14.20646514,
       10.79987667, 13.87711788, 11.96770598,  9.79592311,  9.87928983,
       19.14739303, 23.17593416, 20.46275103,  9.50325694,  8.88644885,
        5.43730355,  7.51366978,  8.14651027,  7.27250528,  7.34565127,
       18.16033009, 12.70349327, 16.67093431, 12.53210915,  9.85220322,
       11.07783718, 21.40544245, 17.43785449, 11.32596333, 10.93930709,
       20.31585088, 16.35438753, 20.95477009, 13.95092498,  9.39335946,
       20.55976007, 12.32757493, 18.35197363, 18.27718639, 21.3050117 ,
       12.6324403 , 25.07323221, 21.4289868 , 17.20873481, 12.41343947,
       13.61725845, 19.51909649,  8.16668206, 20.22163954,  6.23091488,
        8.09700873, 13.24494399, 20.85379337,  7.26942774, 16.83981364,
       11.04707709, 15.96685388, 21.19060829,  9.04937408, 14.89247865,
       20.59412449, 11.6621342 , 20.33632254, 12.16477474, 24.7686082 ,
       21.46269416, 21.4708061 , 17.44039296, 10.67704251, 18.3559039 ,
       11.76195639, 18.88570314,  9.61997673, 17.95825353, 12.60240683,
       16.72725989, 20.90404814, 15.78165771, 18.34162107, 17.31840461,
       15.94252832, 10.43285188, 10.88199685, 15.15213411, 18.43570029,
       14.47448748, 12.66861826,  7.96567838, 19.42010442,  9.8211804 ,
       12.59762801, 10.5327981 , 15.29756767, 10.59281157, 17.43718114,
       17.36320146, 10.43439692, 21.75953807, 19.30205736,  9.60553054,
       10.15946465, 13.99913306,  6.49951091, 16.13644812, 25.00047506,
        9.17714251, 11.71179368, 21.14919391, 15.92919708, 15.36888149,
       15.66372656, 15.57514594, 20.861713  ,  9.28922808, 16.04889507,
       23.80580678, 17.19405056, 19.05374613, 14.99234592, 11.18700193,
       17.97078631, 13.91256106, 19.63399568,  9.93991541, 22.13718592])

### 2.(b) 테스트 데이터 셋에 대해 mean_absolute_error와 mean_squared_error를 계산하세요.

In [455]:
import numpy as np  

X_test = np.append(np.ones((n_test, 1)), X_test, axis=1)
y_pred = X_test @ w    # 테스트 데이터의 예측값
# MAE
print('테스트 데이터셋 MAE:',np.abs(y_pred - y_test).mean())
# MSE
print('테스트 데이터셋 MSE:',((y_pred - y_test)**2).mean())

테스트 데이터셋 MAE: 1.2825361296036224
테스트 데이터셋 MSE: 3.025876484301782

### 2.(c) 학습데이터를 통해 경사하강법을 통한 선형회귀를 수행하세요.

In [456]:
from sklearn.linear_model import SGDRegressor

def gradient_descent(x, y, theta, alpha, numIterations):
    xTrans    = x.transpose()   
    cost_list = []
    for i in range(0, numIterations): 
        hypothesis = np.dot(x, theta)   # 가설함수로 예측값 구하기
        diff       = hypothesis - y     # 예측값과 실제값의 차이
        loss       = np.sum(diff ** 2) / x.shape[0] # 손실함수
        gradient   = np.dot(xTrans, diff)*2  / x.shape[0] # 그래디언트=손실함수의 미분(2, 1)

        # 경사하강법으로 계수 업데이트
        theta      = theta -alpha * gradient  # 경사하강법으로 계수 업데이트
        if i% 250 == 0: 
            cost_list.append(loss)
    return theta, cost_list     # 하이퍼파라미터, 손실값 리턴


numIterations = 10000    # 하이퍼파라미터 업데이트 횟수 (많을수록 훈련데이터의 답 정확하게 예측)
alpha         = 0.01  # 스텝 사이즈
theta         = np.ones(X_train.shape[1]) # 초기 하이퍼 파라미터 (w)
theta, cost_list = gradient_descent(X_train, y_train, theta, alpha, numIterations)
theta

array([15.26480382,  4.68737506,  1.4924404 ,  0.08615097])

### 2.(d) 테스트 데이터 셋에 대해 mean_absolute_error와 mean_squared_error를 계산하세요.

In [457]:
y_predict = np.dot(X_test, theta) # 테스트 데이터의 예측값

print('테스트 데이터셋 MAE:', np.abs(y_pred - y_test).mean())
print('테스트 데이터셋 MSE:',((y_pred - y_test)**2).mean())

테스트 데이터셋 MAE: 1.2825361296036224
테스트 데이터셋 MSE: 3.025876484301782

## 로지스틱 회귀 (survivied가 목적변수)

### 3.(a) train1.csv~train4.csv를 결합하세요.

In [458]:
train1 = pd.read_csv('titanic/train1.csv')
train2 = pd.read_csv('titanic/train2.csv')
train3 = pd.read_csv('titanic/train3.csv')
train4 = pd.read_csv('titanic/train4.csv')

train = pd.concat([train1, train2, train3, train4], ignore_index=True)
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,NaN,NaN,NaN,NaN,NaN
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,NaN,NaN,NaN,NaN,NaN
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,NaN,NaN,NaN,NaN,NaN
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,NaN,NaN,NaN,NaN,NaN
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1777,887,NaN,NaN,NaN,NaN,NaN,NaN,0.0,211536,13.00,NaN,S
1778,888,NaN,NaN,NaN,NaN,NaN,NaN,0.0,112053,30.00,B42,S
1779,889,NaN,NaN,NaN,NaN,NaN,NaN,2.0,W./C. 6607,NaN,NaN,S
1780,890,NaN,NaN,NaN,NaN,NaN,NaN,0.0,111369,30.00,C148,C
1781,891,NaN,NaN,NaN,NaN,NaN,NaN,0.0,370376,7.75,NaN,Q

### 3.(b) cabin 피처는 삭제, Age의 결측치는 다른 Age의 평균값으로 대체,  Embarked의 결측치는 S로 대체, 피처중에서 object 타입의 피처는 삭제하세요.

In [459]:
train = train.drop(columns=['Cabin'])
train['Age'] = train['Age'].fillna(train['Age'].mean())
train['Embarked'] = train['Embarked'].fillna('S')

for col in train.columns:
    if train[col].dtype == 'object':
        print(col)
        train = train.drop(columns=[col])

train

Name
Sex
Ticket
Embarked

      PassengerId  Survived  Pclass        Age  SibSp  Parch   Fare
0               1       0.0     3.0  22.000000    1.0    NaN    NaN
1               2       1.0     1.0  38.000000    1.0    NaN    NaN
2               3       1.0     3.0  26.000000    0.0    NaN    NaN
3               4       1.0     1.0  35.000000    1.0    NaN    NaN
4               5       0.0     3.0  35.000000    0.0    NaN    NaN
...           ...       ...     ...        ...    ...    ...    ...
1777          887       NaN     NaN  29.699118    NaN    0.0  13.00
1778          888       NaN     NaN  29.699118    NaN    0.0  30.00
1779          889       NaN     NaN  29.699118    NaN    2.0    NaN
1780          890       NaN     NaN  29.699118    NaN    0.0  30.00
1781          891       NaN     NaN  29.699118    NaN    0.0   7.75

[1782 rows x 7 columns]

### 3. (c) Survived, Pclass, SibSP는 결측치를 갖는 데이터를 제거하고 Parch와 Fare 피처는 제거하세요.

In [460]:
train = train.drop(columns=['Parch', 'Fare'])

missing_rows = train[train['Survived'].isnull() | train['Pclass'].isnull() | train['SibSp'].isnull()].index
print(missing_rows)

train = train.drop(missing_rows)
train

Index([ 891,  892,  893,  894,  895,  896,  897,  898,  899,  900,
       ...
       1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781],
      dtype='int64', length=891)

     PassengerId  Survived  Pclass        Age  SibSp
0              1       0.0     3.0  22.000000    1.0
1              2       1.0     1.0  38.000000    1.0
2              3       1.0     3.0  26.000000    0.0
3              4       1.0     1.0  35.000000    1.0
4              5       0.0     3.0  35.000000    0.0
..           ...       ...     ...        ...    ...
886          887       0.0     2.0  27.000000    0.0
887          888       1.0     1.0  19.000000    0.0
888          889       0.0     3.0  29.699118    1.0
889          890       1.0     1.0  26.000000    0.0
890          891       0.0     3.0  32.000000    0.0

[891 rows x 5 columns]

### 4.(a) 학습 데이터와 테스트 데이터를 3:1로 나누세요.

In [461]:
survived = np.array(train.loc[:,"Survived"])
train = train.drop(columns="Survived")
survived.shape, train.shape

((891,), (891, 4))

In [462]:
X_train, X_test, y_train, y_test = train_test_split(train, survived,test_size=0.25,random_state=1234)
# reshape 필수 (클래스 사용 안할 경우)
y_train, y_test = y_train.reshape(-1, 1), y_test.reshape(-1, 1)
X_train.shape

(668, 4)

### 4.(b) survived에 대해 로지스틱 회귀를 적용하세요.

In [463]:
from sklearn.linear_model import LogisticRegression

############ logisticregression으로 학습 및 예측

clf = LogisticRegression()
clf = clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
y_pred

/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1.,
       1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0.,
       1., 1.])

### 4.(c) 테스트 데이터셋에 대해 예측 정확도를 계산하세요.

In [464]:
y_pred = clf.predict(X_test)

print(f'정확도:{(y_test == y_pred).mean() * 100: .2f}%')

정확도: 54.66%

/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

### 4.(d) 선형 모델의 계수들과 절편값을 확인하세요.

In [465]:
print(f'절편: {clf.intercept_[0]}')
print(f'계수: {clf.coef_[0]}')

절편: 3.306289882021942
계수: [-9.47140734e-05 -1.10316878e+00 -4.14196723e-02 -1.33671079e-01]

## 라쏘회귀 (당뇨데이터 활용, diabete)

In [466]:
from sklearn.linear_model import LassoCV, Lasso
from sklearn.pipeline import Pipeline

### 5.(a) 당뇨 데이터를 데이터프레임 형태로 불러와서, 2:1로 학습데이터와 테스트 데이터로 나누세요.

In [467]:
from sklearn.datasets import load_diabetes

X, y = load_diabetes(as_frame=True, return_X_y=True)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3,random_state=1234)

### 5.(b) Standardscaler와 LassoCV를 pipeline 객체로 생성하세요. (LassoCV의 교차검증은 5회, alpha 값은 1이상 100 이하의 정수들로 하세요.)

In [468]:
scaler = StandardScaler()
reg    = LassoCV(alphas=np.arange(1,101),cv=5)
pipe   = Pipeline(steps=[("scaler", scaler), ("reg", reg)])
pipe

Pipeline(steps=[('scaler', StandardScaler()),
                ('reg',
                 LassoCV(alphas=array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100]),
                         cv=5))])

### 6.(a) 당뇨데이터의 age,sex,bmi,bp 피처에 대해서만, pipeline 객체를 통해서 라쏘회귀를 진행하세요.

In [469]:
X_train, X_test = X_train.loc[:,["age","sex","bmi","bp"]], X_test.loc[:,["age","sex","bmi","bp"]]
pipe = pipe.fit(X_train, y_train)

y_train_pred = pipe.predict(X_train)
y_train_pred

/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([146.51110715, 162.25824225, 111.52429588, 261.08438646,
       223.27018304, 149.5733413 , 137.8512549 , 197.9512194 ,
        93.64610555, 106.28214438,  89.90299159, 150.20306183,
       186.12465241, 244.37923541, 131.33909484, 208.73634573,
       131.35412116, 146.09983484, 113.36738545,  95.19295913,
       190.45542104, 191.52694809, 147.90344997, 143.40426157,
       175.82394564, 227.85503077, 192.83850313, 177.71294113,
       159.94958772, 125.55511156, 102.28011033,  45.13934815,
        88.8925844 , 206.28598608,  77.13106907, 122.853301  ,
       124.57362831, 105.48905282, 150.59541109, 163.27601583,
       138.43563371,  78.61516292,  72.88088532,  98.33507709,
       129.48461119, 185.10539672, 111.84772808, 174.35610697,
       112.42596656, 115.38583317, 121.07499767, 229.04657201,
        65.09377982, 117.94534034, 164.09208104,  98.22181403,
       140.1017913 ,  65.78205452, 205.31079741, 165.05127994,
       178.90437083, 224.75939686, 139.63635972, 122.59726625,
       119.5011963 , 146.33586017, 141.92462304, 146.50387764,
       172.97661008, 101.34846963, 153.50532399, 142.0407002 ,
       167.13373286,  95.23918954, 112.58834016, 137.77057827,
       179.87227612, 159.67517953, 117.64419249, 146.00408637,
       103.28612434, 172.2352712 , 121.46455332, 153.93601058,
       183.9026237 , 139.35554057, 231.40564202,  80.51073198,
       110.91872431, 137.04533267,  79.86914423, 126.87139606,
       170.8466774 , 140.52754554, 182.60371169, 237.14164735,
       162.83416309, 146.03070966, 137.81575739, 134.88907065,
       234.42979318, 139.07255802, 122.35332733, 172.92579231,
       118.26761493, 163.77237736, 175.54942107,  91.84097081,
       255.83414663, 256.86456325, 159.47826385, 187.31723972,
       224.48259737, 151.29032538, 141.4352454 , 231.54948551,
       219.86685305, 101.4717558 , 222.21693768, 148.59245147,
        70.29272835, 173.76320416, 242.06737102, 157.88536225,
       135.43340209,  86.21326632, 175.18860696, 126.23917548,
        92.06742084, 127.01507695, 136.72476532, 186.43544157,
        75.85303016,  51.34076456, 137.79177103, 131.55467471,
       178.98784105, 136.71642372, 284.23228126, 159.82531761,
       122.28320122, 112.68823339, 110.52523201, 127.78054429,
       152.04858022, 167.1010804 , 213.62509851, 124.72976984,
       154.57612424, 188.68033932,  98.80510125, 127.06339989,
       139.87690639, 204.39843934, 160.89514265, 110.76846985,
       177.68795383, 221.10575379, 103.52897166, 177.46409036,
       153.43207976, 198.71400429, 175.5069449 , 178.59731018,
       115.03275023, 224.63197115,  85.95361942, 127.08761137,
       209.45158872, 134.81673562, 246.31746303, 117.2863801 ,
       117.76445994, 264.07638685, 195.72953569, 164.86155104,
        59.55250699, 141.40764167, 205.20067818,  69.97518321,
       223.31038428, 179.16911198, 106.07797869,  86.10794256,
        98.98800817,  95.57890265,  82.67798056, 147.00146   ,
       171.68618178, 106.68506987, 270.13706985, 232.44151488,
       120.08257339, 107.97452297, 112.06626454, 237.82801192,
       180.74988921, 263.91864574, 104.34348874, 201.6067931 ,
       144.60230514, 123.5424849 , 151.46759365, 152.30197805,
        99.3828662 , 158.78769722, 165.80571451, 130.13300043,
       183.10161856, 119.27008282, 138.43433399, 140.46072101,
        95.32839016,  84.66850527, 117.0297064 , 179.98499479,
        76.76361537, 163.35699123, 127.53244884, 186.63387687,
       140.77373958, 122.61236381, 250.93807369, 135.74549098,
       214.26156629, 134.29766172,  98.43555502,  66.90985559,
        70.32656414, 125.79677555, 137.32240281, 184.9790626 ,
        59.5449582 , 211.27618849, 131.72669484,  85.11149512,
       111.90991489, 226.9944709 , 227.77922087, 183.26197087,
       177.78582055, 174.3224793 , 220.74432925, 121.88427839,
       209.779634  , 116.15812249, 156.11158025, 157.62289603,
       114.7238712 , 132.75763013, 174.10375521, 159.14819206,
       111.93049723, 141.60346576, 109.47278469, 133.28088908,
        92.70618927, 111.02050194, 130.97441494,  98.08738393,
       227.96140099, 142.65841313, 171.7783181 , 216.59310381,
       235.45022348, 196.88513161, 258.67991222, 231.95548396,
       158.42935742, 107.28959499, 119.62146375, 209.32677422,
       172.61820427, 153.93999274, 165.98462265, 102.71648109,
       151.69640648, 202.51737793, 177.89684898,  77.65919086,
        80.93666862, 184.29991054, 160.00388559, 166.02645988,
       128.79770745, 168.81897017, 158.34704481, 174.12993107,
       120.87353492, 163.44021304, 174.32045278, 119.42282033,
       196.01140092, 224.16216689])

### 6.(b) 테스트 데이터 셋의 mean_absolute_error를 나타내세요.

In [470]:
y_pred = pipe.predict(X_test)
print(f'MAE:{(np.abs(y_pred - y_test)).mean(): .3f}')

MAE: 48.549

/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

### 6.(c) 결과로 얻은 선형모델 계수들과 절편의 값을 확인하세요.

In [471]:
print(f'절편: {reg.intercept_}')
print(f'계수: {reg.coef_}')

절편: 150.85714285714286
계수: [ 0.16801308 -5.93123842 36.61337794 20.13401954]

### 6.(d) 가장 좋은 성능을 보이는 alpha값을 얻으세요.

In [472]:
print('최적의 alpha:', reg.alpha_)

최적의 alpha: 1